@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using SmartShades
@using SmartShades.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject ILanguageManager LanguageManager
@inject IMultiTenancyConfig MultiTenancyConfig
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "SmartShades";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
    
    <style>
        #backgroundVideo {
            width: auto;
            height: max(calc(100vw / 1.77777), 100vh);
            min-width: 100vw;
            min-height: 100vh;
            position: fixed;
            left: 50%;
            transform: translate(-50%);
            top: 0;
            z-index: -2;
            filter: blur(3px);
        }

        input.password-text {
            font-family: 'source_sans_pro_password';
        }

        .toggle-password {
            cursor: pointer;
            background-color: #dadada;
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }

            .toggle-password:hover {
                background-color: #d1d1d1;
            }

        .login-box {
            width: 67%;
            font-size: 1.5rem;
            max-width: 700px
        }

        #rmfp {
            justify-content: space-around;
            font-size: 1.2rem;
        }

        @@media screen and (max-width: 600px) {
            .login-box {
                width: 85%;
            }
        }
    </style>
</head>
<body class="hold-transition login-page" style="overflow: hidden auto">

    <video autoplay muted loop id="backgroundVideo">
        <source src="~/img/wave-white.mp4" type="video/mp4">
    </video>

    <div class="login-box">
        <div class="login-logo" style="margin-bottom: 0">
            <a href="/">
                <img class="login-logo-img" src="~/img/logo-no-bg.png" alt="Logo" style="height: auto; width: 90%; max-width: 650px" />
            </a>
        </div>
        <div class="card" style="filter: drop-shadow(0px 0px 45px rgba(248, 248, 248, .75)); background-color: #fff;">

            <div class="card-body login-card-body" style="border-top-left-radius: 10px; border-top-right-radius: 10px">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <small>&copy; @DateTime.Now.Year SmartShades. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
    @WebResourceManager.RenderScripts()
</body>
</html>
